{
  "plugins": [
    "prettier-plugin-go-template",
    "prettier-plugin-tailwindcss-extra-plus",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./tailwind.css",
  "overrides": [
    {
      "files": "*.gohtml",
      "options": {
        "parser": "go-template"
      }
    },
    {
      "files": "*.templ",
      "options": { "parser": "tailwindcss-extra-plus" }
    }
  ]
}
