package partials

templ Header() {
	<header class="bg-bg-light text-text custom-shadow m-4 flex w-auto items-center justify-between rounded-2xl p-4">
		<h1 class="text-3xl font-bold">Spotify Playlist Manager</h1>
		<nav>
			<ul class="flex space-x-4">
				<li><a href="/" class="hover:underline">Home</a></li>
				<li><a href="/playlists" class="hover:underline">Playlists</a></li>
				<li><a href="/logout" class="hover:underline">Logout</a></li>
			</ul>
		</nav>
	</header>
}
