package pages

import (
	"github.com/cyrilschreiber3/spotify-playlist-manager/models"
	"github.com/cyrilschreiber3/spotify-playlist-manager/templates/layouts"
	"github.com/cyrilschreiber3/spotify-playlist-manager/templates/partials"
	"github.com/gin-gonic/gin"
)

templ Dashboard(c *gin.Context, user models.User) {
	@layouts.Base(c, "Spotify Playlist Manager") {
		<div class="dashboard flex gap-8">
			<div class="left-column flex-1/2">
				<section>
					<h2 class="text-2xl font-bold">Welcome <span id="displayName">{ user.Username }</span>!</h2>
					<p class="text-text-muted">Here you can manage your Spotify playlists.</p>
				</section>
			</div>
			<div class="right-column flex-1/2">
				<section>
					@partials.ManagedPlaylists()
				</section>
			</div>
		</div>
	}
}
