package components

import "github.com/cyrilschreiber3/spotify-playlist-manager/models"
import "github.com/gin-gonic/gin"

templ Dashboard(c *gin.Context, user models.User) {
	@Base(c, "Spotify Playlist Manager") {
		<div class="dashboard">
			<h2>Welcome to your dashboard, <span id="displayName">{ user.Username }</span>!</h2>
			<p>Here you can manage your Spotify playlists.</p>
			<span id="avatar"></span>
			<ul>
				<li>User ID: <span id="id">{ user.UserID }</span></li>
				<li>Email: <span id="email">{ user.Email }</span></li>
				<li>Profile Image: <span id="imgUrl">{ user.ProfileImage }</span></li>
			</ul>
			<button onclick="location.href='/logout'">Logout</button>
		</div>
	}
}
