package components

templ Index(loginResult string) {
	@Base("Spotify Playlist Manager") {
		<div class="login">
			<button onclick="location.href='/login'">Login with Spotify</button>
			<div id="login-result">
				{ loginResult }
			</div>
		</div>
	}
}
