package components

import "github.com/gin-gonic/gin"

templ Base(c *gin.Context, title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<script src="https://unpkg.com/htmx.org@2.0.4"></script>
			<script src="https://unpkg.com/alpinejs" defer></script>
			<link rel="stylesheet" href="/static/styles.css"/>
			<title>{ title }</title>
		</head>
		<body class="bg-bg-dark text-text p-5">
			<nav class="container">
				<a href="/">Home</a>
				<a href="/login">Login</a>
			</nav>
			<h1 class="text-4xl font-bold py-4">{ title }</h1>
			{ children... }
		</body>
	</html>
}
