package components

import "github.com/gin-gonic/gin"

templ Login(c *gin.Context, loginResult string) {
	@Base(c, "Spotify Playlist Manager") {
		<div class="login">
			<div style="display:flex;align-items:center;gap:8px;">
				<button class="bg-primary hover:bg-secondary text-bg-dark cursor-pointer rounded-xl px-4 py-2 shadow-md" hx-get="/api/login" hx-target="#login-result" hx-swap="innerHTML">
					Login with Spotify
				</button>
				@Spinner(40)
			</div>
			<div id="login-result">
				{ loginResult }
			</div>
		</div>
	}
}
