package components

templ Card(title, subtitle string) {
	<div class="bg-bg custom-shadow rounded-2xl">
		<header class="bg-bg-light dark:custom-shadow border-b-border-muted rounded-t-2xl border-b px-6 py-4">
			<h3 class="text-xl font-semibold">{ title }</h3>
			if subtitle != "" {
				<p class="text-text-muted">
					{ subtitle }
				</p>
			}
		</header>
		<main>
			{ children... }
		</main>
	</div>
}
